@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF; /* brand-bg */
  color: #1F2937; /* brand-text */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
